<div class="panel panel-primary">
	<div class="panel-heading">Upload document for bulk profile creation</div>
				<div class="panel-body" ng-controller="BulkCtrl">
						
						<div style="margin-top: 9px;padding:3px;">
                   <span>{{uploader.queue.length}} File selected.</span>
                    <span style="float:right;" class="label label-default">The system accepts only Excel files</span>
                </div>					
				<table style="width:100%">

                    <tr>
                        <td>
                             <div class="progress"> 
                                <div class="progress-bar" role="progressbar"
									ng-style="{ 'width': uploader.progress + '%' }"
									 aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                             </div> 
                        </td>
                    </tr>
                    <tr>
                        <td>
                           <label class="fileContainer">
                           <button type="button" class="btn btn-primary" style="margin-top:1px;" >Select File...</button>
                            <input type="file"
							ngf-select="" ng-model="picFile" name="file"
							ngf-pattern="'application/pdf'" nv-file-select ngf-max-size="50MB" ngf-min-height="100" 
							uploader="uploader" multiple="false" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
							</label>
						 	<a href="" ng-if="uploader.getNotUploadedItems().length"  ng-init="uploader.uploadAll()" ></a>						 							 
						  			
                        </td>
                    </tr>
                    <tr>
                    	<td>
                    		<a href="" ng-if="uploader.progress==100 && uploader.isUploading"  ng-init="upload()"><span class="fa fa-spin fa-spinner "></span>
						 	 Validating and Processing...</a>	
                    	</td>
                    </tr>
                    
                </table>

					
					<a class="pull-right" style="margin-right: 10px" data-toggle="tooltip" title="Download the data standard required for Bulk profile creation." target="_blank" href="https://pfizer.sharepoint.com/:x:/s/PTRS-RELTIO-MDMTool/EVeMT0UneL5Cu__kOohDhC8B-u3MrrC4GoZax6KG0aNIjA?e=sB81bN">
                    <i class="fa fa-lg fa-question-circle" aria-hidden="true"></i></a>
                    <a class="pull-right" style="padding-right: 10px;" href="" ng-click="downloadAsExcel()">Download Template</a>
				</div>
			</div>






