<div class="panel panel-primary">
	<div class="panel-heading">Upload document for bulk profile creation</div>
				<div class="panel-body" ng-controller="BulkCtrl">
						
						<div style="margin-top: 9px;padding:3px;">
                   <span>{{uploader.queue.length}} File selected.</span>
                    <span style="float:right;" class="label label-default">The system accepts only Excel files</span>
                </div>					
				<table style="width:100%">

                    <tr>
                        <td>
                             <div class="progress"> 
                                <div class="progress-bar" role="progressbar"
									ng-style="{ 'width': uploader.progress + '%' }"
									 aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                             </div> 
                        </td>
                    </tr>
                    <tr>
                        <td>
                           <label class="fileContainer">
                           <button type="button" class="btn btn-primary" style="margin-top:1px;" >Select File...</button>
                            <input type="file"
							ngf-select="" ng-model="picFile" name="file"
							ngf-pattern="'application/pdf'" nv-file-select ngf-max-size="50MB" ngf-min-height="100" 
							uploader="uploader" multiple="false" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
							</label>
						 	<a href="" ng-if="uploader.getNotUploadedItems().length"  ng-init="uploader.uploadAll()" ></a>						 							 
						  	<a href="" ng-if="uploader.progress==100 && !uploader.isUploading"  ng-init="upload()"><span class="fa fa-spin fa-spinner "></span>
						 	 Validating...</a>			  						  	
							<!--<gcms-modal template="bulk.upload.html"
							controller="ModalDefaultCtrl" ok="" content="Result"
							alt="Upload images"> 
							<button ng-show="a == true" class="btn btn-default2" style="margin-top:1px;">View Upload Status</button></gcms-modal>-->

						   
                        </td>
                    
                    
                    </tr>
                    
                </table>

                    <a class="pull-right" href="assets/spreadsheet/Profile_Creation_{{loggedInUserCountryCode}}.xlsx">Download Template</a>
				</div>
			</div>






