.input-group {
    margin-bottom: 8px;
    width: 100%;
}

span.input-group-addon {
    text-align: left;
    padding-right: 0;
    width: 25%;
    font-size: 13px;
}

.form-control.search-criteria {
    margin-bottom: 8px;
}

.button-small-trs {
    border-radius: 0px !important;
}

.button#activeNoButton {
    border-radius: 0px;
    background-color: #efefef;
}

.button#activeYesButton {
    border-radius: 0px !important;
}

.btn-primary, .btn-secondary {
    border-radius: 0px !important;
}

button.btn.btn-lg.btn-default.ng-scope {
    color: #29d;
    font-weight: 400;
    font-size: 16px;
}

select.form-control {
    margin-bottom: 8px;
}

select.form-control {
    margin-bottom: 8px;
    /** text-transform: capitalize; **/
    font-size: 13px;
}

/* option {
    text-transform: capitalize;
}
 */

.record-active {
    margin: 7px 0px;
}

.btn-all {
    width: 40px;
    padding: 5px
}

.btn-other {
    width: 80px;
    padding: 5px
}

input[type="text"] {
    margin-bottom: 8px;
    font-size: 13px;
}

.form-group.row.row-status {
    margin-top: 54px;
}

span.input-group-addon.date-input-group-addon-span {
    width: 35%;
}

.form-control.date-input-group-addon-inputtype {
    width: 100%;
    border-bottom-right-radius: 4px !important;
    border-top-right-radius: 4px !important;
    border-top-left-radius: 0px!important;
    border-bottom-left-radius: 0px!important;
    font-size: 13px;
}

.popover {
    position: absolute;
    top: 0;
    left: -1% !important;
    z-index: 1060;
    display: none;
    width: 100%;
    max-width: 100%;
    padding: 1px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: left;
    white-space: normal;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.popover.bottom>.arrow {
    top: -11px;
    left: 98%!important;
    /* margin-left: -11px; */
    border-top-width: 0;
    border-bottom-color: #999;
    border-bottom-color: rgba(0, 0, 0, .25);
}

.popover.bottom {
    margin-top: 0;
}

.pull-right.search-clear {
    padding-right: 100px;
}

th {
    font-weight: 100!important;
    margin: 0 20px
}

div#stewardshipStatus {
	padding: 5px 10px;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
    font-size: 12px;
    /* white-space: normal; */
    /* width: 200px; */
}
.table>thead>tr>th {
    vertical-align: top;
    border-bottom: none;
    clear: both;
    empty-cells:show;
    display:table-cell;
    font-weight: bold!important;
}

.input-group.user-search {
    height: 30px;
    margin-left: 8px;
    width: 100px;
}

.input-group-addon.search {
    background-color: #fff;
}

.fa.fa-user-md.fa-user-search, .fa.fa-hospital-o.fa-user-search {
    font-size: 12px;
    margin-left: 0px;
    padding: 0 1px;
    color: #29d;
}

.form-control.user-search {
    /* width: 100%; */
    background-color: #F5F5F5;
    padding: 5px;
    border: 1px solid #d5d5d5;
    white-space: pre;
}

.fa.fa-search {
    margin-left: 0px;
    padding: 0 0;
    font-size: 12px;
    color: #29d;
}

td.exchange-popover {
    padding-left: 0px !important;
}

span.input-group-addon.search {
    width: 20%!important;
    /* left: -10px; */
    padding: 0 10px;
}


/*tr.prescribe-row,.table-hover>tbody>tr.prescribe-row:hover {
    background-color: #eee!important;
    border-left: 3px solid #337ab7;
}*/

.table-hover>tbody>tr:hover {
    background-color: #fff;
}


/*div#stewardshipSpecialty {width: 100%;/* padding-right: 60px; 
} */

.th-last {
    /* text-align:center; */
}

div#stewardshipSpecialty {
    width: 215px;
    padding-right: 30px;
    float: left;
}

.form-control.user-search {
    /* margin-left: 10px; */
    width: 96px;
    background-color: #F5F5F5;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-top-left-radius: 0px!important;
    border-bottom-left-radius: 0px!important;
    border-left-width: 1px;
    font-size: 13px;
    height: 34px;
}
.exchange-popover .popover> .arrow {
    left: 10%!important;
}
.event-data {
    float: left;
    width: 20%;
    padding-left: 15px;
}
.btn-event {
    border-radius: 0px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.event-data.exchange-popover .popover {
    width: 500px;
    margin-left: 41px;
}
.event-data.exchange-popover .popover-content {
    padding: 0 30px;
    /* margin-bottom: 30px; */
}
.event-data.exchange-popover .col-sm-11 {
    padding-bottom: 15px;
    float: right;
    padding-right: 0px;
}
.product-data {
    width: 20%;
   /* margin-right:5px; */
   margin-right:12px;
}
.col-sm-12.exchange-popover.product-search .popover {
    width: 600px;
}
.col-sm-12.exchange-popover.product-search .col-sm-11 {

}
.input-group.pad-group {
    padding: 0 10px 0 0;
}

.delete_icon-padding {
    padding-right: 8px;
}

.panel-border-none {
    border: none;
    margin-left: -10px;
}
.product-info {
    /* width: 20% !important; */
    padding: 0 22px;
}

.btn-edit {
    border-radius: 0px!important;
    border-left: 0;
    padding: 5.8px 10px;
    border-top-right-radius: 4px!important;
    border-bottom-right-radius: 4px!important;
}

.pad-left-zero {
    padding-left: 0px;
}

.input-grp-flexiwidth {
    width: 100%;
}

i.fa.fa-search.margin-padding-zero {
    margin: 0;
    padding: 0;
}

.row-expanded {
    background-color: #eee!important;
    border-left: 3px solid #337ab7;
}

.row-collapsed {
    background-color: #fff!important;
    border-left: none;
}

.search-attendee.exchange-popover .popover {
    width: 600px;
    left: 500px!important;
}

.search-attendee.exchange-popover .popover> .arrow {
    left: 55%!important;
}

.div-text {
    width: auto;
    background-color: #F5F5F5;
    max-width: %;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
}

input#attendeeAllocated {
    width: 120px;
    float: left;
}

.col-sm-6.exchange-popover.initial-position , .col-md-2.exchange-popover.initial-position{
    position: initial;
}

.btn-warning {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
    /* margin: 20px 0; */
}

.col-sm-6.exchange-popover.initial-position .popover {
    width: 650px;
    margin-left: 27px;
}

.col-sm-11.pull-right.clearsearch {
    padding-top: 20px;
    padding-bottom: 12px;
}

.searchfor {
    text-align: left;
    white-space: nowrap;
}

/*a.dropdown-toggle.toggle-nav-exPadding.pull-right ul.dropdown-menu {
    min-width: 257px!important;
    padding: 10px 0 !important;
}*/

td.exchange-popover.data-owner-name .popover {
    width: 650px;
    margin-left: 10px;
}

.row-vertical-center {
    text-align: center;
    vertical-align: middle;
}
/* th {
    display: run-in;
}
 */

.btn-lg, .btn-group-lg>.btn {
    padding: 7px 16px;
    font-size: 14px;
}

.element-no-wrap
{
    white-space:normal;
}

th.empty
{
    width: 1%;
    float: left;
    margin: 0;
    padding: 0;
}

.col-md-2.th-first {
    white-space: nowrap;
    float: left;
    padding-left: 20px;
}

td.table-row.exchange-popover.initial-position.element-no-wrap span {
    padding-left: 8px!important;
}
.col-sm-6.exchange-popover {
    position: initial;
}

.col-sm-6.exchange-popover div#prescriber .popover.fade.bottom.in {
    width: 1070px;
    left: 50px!important;
}
.col-sm-6.exchange-popover div#prescriber .popover.fade.bottom.in .arrow {
    left: 16%!important;
}
tr.exchangelist > td {
    white-space: nowrap;
    vertical-align:middle!important;
}
.product-search>.product-data>.popover {
    left:120px !important;
}
.event-data.exchange-popover>#event>.ng-scope>.popover {
    left:105px !important;
}
.exchange-popover>#research>.ng-scope>.popover {
    left:240px !important;
}
.exchange-popover>#research>.ng-scope>.popover>.arrow {
    left:22% !important;
}
.data-owner-name>#event>.ng-scope>.popover {
	left:206px !important;
}
.arrowHide>a>.popover>.arrow {
	display:none;
}
.arrowHide>span>a>.popover>.arrow {
	display:none;
}
.td-status{
	width:100%;
	float:left;
}
.td-status.margin-left {
    margin-left:13px;
}
.dropdown-menu > li > div > a {
      color : black !important;
}
.primaryid {
    /* float:left; */
    width:10px;
}
.primaryid > p {
    font-size:12px;
}
.primaryid .popover.fade.bottom.in  .arrow {
   left: 41%!important;
}
.primaryid .popover.fade.bottom.in {
    width: 400px;
    margin-top: 20px!important;
    margin-left: 20.5%;
}
/*     width: 400px;
    margin-top: 20px!important;
    margin-left: 20%;
}
 */
 select,
.ui-select-match span.btn.btn-default.form-control.ui-select-toggle,
 input[type] {
    border-radius: 3px!important;
}

.container {
    width:100%;
    padding:0 50px;
}

/* Added Styles for Prescriber NO Case
*/

/* .modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}

.fade.in {
    opacity: 1;
}
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    display: none;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}
.modal, .modal-open, .progress {
    overflow: hidden;
}
.fade {
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear;
}
.modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: .5;
}
.modal-backdrop.fade {
    filter: alpha(opacity=0);
    opacity: 0;
}
.modal-backdrop {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background-color: #000;
}
.modal.in .modal-dialog {
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
    transform: translate(0,0);
}
.modal.fade .modal-dialog {
    -webkit-transition: -webkit-transform .3s ease-out;
    -o-transition: -o-transform .3s ease-out;
    transition: transform .3s ease-out;
    -webkit-transform: translate(0,-25%);
    -ms-transform: translate(0,-25%);
    -o-transform: translate(0,-25%);
    transform: translate(0,-25%);
}
.modal-dialog {
    width: 600px;
    margin: 30px auto;
}
.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}
.modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
}
.modal-content, .popover {
    -webkit-background-clip: padding-box;
}
.modal-content {
    position: relative;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
}
 */

 .modal-backdrop {
     position: absolute;
     top: 0;
     right: 0;
     left: 0;
     background-color: #000!important;
     width: 100%!important;
     opacity: .5!important;
     height: 2000px;
 }
 table.table.table-hover.tbl-attendee>tbody>tr>td,
 table.table.table-hover.tbl-attendee>thead>tr>td {
     text-align:left;
 }

 table.table.table-hover.clr-rcpnt>tbody>tr>td,
 table.table.table-hover.clr-rcpnt>thead>tr>td {
     text-align:left;
 }

 .HCP.exchange-popover.padleft-hcp {
     padding: 0 40px;
 }

 .HCP.exchange-popover div#prescriber .popover.fade.bottom.in .arrow {
     left: 12%!important;
 }
 
img.center-block {
    width: 70%;
    padding: 35px 70px;
    position:relative;
    top:55px;
    /* margin-left: 110px; */
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #333;
    background-color: transparent;
    outline: none!important;
}

.form-horizontal .control-label {
    padding-top: 7px;
    margin-bottom: 0;
    font-weight: bold;
    text-align: right;
    font-size: 13px;
}

.value-indicator {
    width:70px;
}
.validatemsg {
    font-weight: 100;
    border: 1px solid #ff0000;
    padding: 5px;
}
.popover {
    cursor: default;
}

.text-display {
	text-transform:none;
	font-size:13px;
}

input#checkForNoConsentRecords {margin: 5px !important; }

span.input-group-addon.btn.btn-default.btn-edit {
    width: 13%;
    background: transparent;
}

/* Added Changes for EFPIA */
.recipient-efpia .form-control.user-search{
	width : 300px;
}
 .payee-efpia .form-control.user-search{
	width : 300px;
}
 
 /* .payee-efpia > .exchange-popover .popover > .arrow{
	left : 21% !important;
}
 */
/*  .HCP.exchange-popover div#prescriber .popover.fade.bottom.in
 {
     width: 90%;
     left: 55px!important;
     padding: 20px;
     top: 163px!important;
 }
 */
  .HCP.exchange-popover div#prescriber .i-src-prescriber .popover.fade.bottom.in
 {
     width: 20%;
     left: 75px!important;
     top: 125px!important;
 }
 .i-src-prescriber .popover.fade.bottom.in .popover-content {
     color: #ff0000 !important;
    font-weight: 500;
 }
   .HCP.exchange-popover div#prescriber .i-src-prescriber1 .popover.fade.bottom.in
 {
     width: 29%;
     left: 110px!important;
     top: 33px!important;
 }
 .i-src-prescriber1 .popover.fade.bottom.in .popover-content {
     color: #ff0000 !important;
    font-weight: 500;
 }
 
 .trs.form-group.text-success {
    clear: both;
    float: left;
    position: relative;
    bottom: -15px;
}
.recipient-efpia .popover .arrow{
	/** left: 17% !important; */
	left: 350px !important;
}
.payee-efpia .popover .arrow{
	/** left: 25.5% !important; */
	left: 337px !important;
} 
.recipientmerge .popover {
    max-width: 1000px;
}

/* .recipientmerge .popover {
    position: absolute;
    top: -16px !important;
    left: -887px !important;
    z-index: 1060;
    display: none;
    width: 1442px;
    margin-left: 15px;
    max-width: 2000px;
    padding: 1px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: left;
    white-space: normal;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    overflow-y: auto;
    max-height: 750px;
}
 */
.recipientmerge .popover {
    position: absolute;
    top: -20% !important;
    left: -187% !important;
    z-index: 1060;
    display: none;
    width: 280%;
    margin-left: 15px;
    max-width: 400%;
    padding: 1px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: left;
    white-space: normal;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    overflow-y: auto;
    max-height: 1250%;
}
.recipientmerge .popover> .arrow {
    left: 10%!important;
}
.table>tbody> tr.recipientlist.active, .table>tbody> tr.recipientlist.active td, .table>tbody> tr.recipientlist.active:hover {
  background-color:#337ab7;
  color: white !important;
  border-top: 1px solid #337ab7;
  border-bottom: 1px solid #337ab7;
} 
 
/* Added CSS Changes for R2.2 */
.arrowHide1 .arrow {
    display:none;
}
 
.arrowHide1 .popover-content {
    color: #f44336;
}
.arrowHide1 .popover{
	left: 1% !important;
}
div#associationMembershipName .arrowHide1 .popover{
	 width: 15% !important; 
}

div#granteeName .arrowHide1 .popover{
	 width: 33% !important;
}

div#granteeKana .arrowHide1 .popover{
	 width: 33% !important;
} 
div#institutionName .arrowHide1 .popover{
	 width: 30% !important;
} 
div#institutionNameKatakana .arrowHide1 .popover{
	 width: 23% !important;
} 
.highlight-important{
	color: #f44336;
	font-weight: 800;
	font-style: italic;
}
