<div class=".container-search-panel" style="width: 100%;">
	<div class="panel panel-primary">
		<div class="panel-heading ">Profile Details</div>
			<div class="panel-body">
			<form name="requestProfileReviewForm" novalidate>
			
				<div class="row">
					<div class="col-sm-4"></div>
					<div class="col-sm-4">
						<label> Party Type
							&nbsp; &nbsp;<input type="radio" id="PERSON" name="PERSON" value="PERSON" ng-model="profile_val.item" ng-change="getCred()"/> Individual 
							&nbsp; &nbsp;<input type="radio" id="HCO" name="HCO" value="HCO" ng-model="profile_val.item" ng-change="getCred()"/> Organization
						</label>
					</div>
				</div>

				<hr>

				<div ng-hide="profile_val.item=='PERSON'" class="row">
					<div class="col-sm-3">
						<label class="control-label">Organization </label>
					</div>
				</div>

				<div ng-hide="profile_val.item=='PERSON'" class="row">
					<div class="col-sm-3">
						<!-- <label class="control-label">Name</label> -->
						<input type="text" ng-maxlength="100" class="form-control" id="organizationName" placeholder="Name" ng-model="item.organizationName" ng-required="profile_val.item == 'HCO'">
					</div>

					<div class="col-sm-3">
						<!-- <label class="control-label">Name</label> -->
						<!-- ng-options="item.id as item.name for item in items | unique:'name'" -->
						<select class="form-control" ng-model="item.organizationType" ng-change="compareSubType(item)">
							<option value ng-show="true" class="ng-binding">Select
								Organization Type</option>								
							<!-- <option value="WFR.REX.E0-OneKey Workplace ID" ng-show="true" class="ng-binding">WFR.REX.E0-OneKey Workplace ID</option> -->
							<option ng-repeat="rep in orgType">{{rep.subDesc}}</option>
						</select>
					</div>

				</div>


				<div ng-hide="profile_val.item=='HCO'" class="row">
					<div class="col-sm-3">
						<label class="control-label">Person </label>
					</div>
				</div>

				<div ng-hide="profile_val.item=='HCO'" class="row">
					<div class="col-sm-3">
						<!-- <label class="control-label">First Name</label> -->
						<input type="text" ng-maxlength="100" class="form-control" placeholder="First Name" ng-model="item.firstName" ng-required="profile_val.item == 'PERSON'">

					</div>

					<div class="col-sm-3">
						<!-- <label class="control-label">Middle Name</label> -->
						<input type="text" ng-maxlength="100" class="form-control" placeholder="Middle Name" ng-model="item.middleName">
					</div>


					<div class="col-sm-3">
						<!-- <label class="control-label">Last Name</label> -->
						<input type="text" ng-maxlength="100" class="form-control" placeholder="Last Name" ng-model="item.lastName" ng-required="profile_val.item == 'PERSON'">
					</div>

					<div class="col-sm-3">
						<!-- <label class="control-label">Suffix</label> -->
						<input type="text"
							class="form-control search-criteria ng-pristine ng-valid ng-not-modified ng-touched"
							placeholder="Suffix" ng-model="item.suffix">
					</div>

				</div>

				<div class="row">
					<div class="col-sm-3" ng-hide="profile_val.item=='HCO'" >
						<!-- <label class="control-label">Title</label> -->
						<input type="text"
							class="form-control search-criteria ng-pristine ng-valid ng-not-modified ng-touched"
							placeholder="Title" ng-model="item.title">
					</div>

					<div class="col-sm-3" ng-hide="profile_val.item=='PERSON'" >
						<!-- <label class="control-label">Credential</label> -->
						<select class="form-control" ng-model="item.credential">
							<!-- ng-options="item.id as item.name for item in items | unique:'name'" -->
							<option value ng-show="true" class="ng-binding">Select
								Credential</option>
							<option ng-repeat="rep in credential">{{rep.credentialDesc}}</option>
						</select>
					</div>


					<div class="col-sm-3" ng-hide="profile_val.item=='HCO'">
						<!-- <label class="control-label">Specialty</label> -->
						<!-- ng-options="item.id as item.name for item in items | unique:'name'" -->
						<select class="form-control" ng-model="item.speciality" ng-change="compare(item)" ng-required="profile_val.item == 'PERSON'">
							<option value ng-show="true" class="ng-binding">Select
								Specialty</option>
							<option ng-repeat="rep in specialty" value="{{rep.spclCode}}">{{rep.spclDesc}}</option>
						</select>
					</div>
					
					<div class="col-sm-3" ng-hide="profile_val.item=='HCO'">
						<select class="form-control" ng-model="item.gender" ng-required="profile_val.item == 'PERSON'">
							<option value ng-show="true" class="ng-binding">Select Gender</option>
							<option value="M">Male</option>
							<option value="F">Female</option>
						</select>
					</div>

				</div>

				<hr>

				<div class="row">
					<div class="col-sm-3">
						<label class="control-label">Location </label>
					</div>
				</div>

				<!-- style="font-weight:700;font-size:15px;!importent;margin-top:5px;font-family:"sans-serif" -->

				<div class="row">
					<div class="col-sm-3">
						<!-- <label class="control-label">Address Line 1</label> -->
						<input type="text"
							class="form-control search-criteria ng-pristine ng-valid ng-not-modified ng-touched"
							placeholder="Address Line 1" ng-model="item.addr1" required>
					</div>

					<div class="col-sm-3">
						<!-- <label class="control-label">Address Line 2</label> -->
						<input type="text"
							class="form-control search-criteria ng-pristine ng-valid ng-not-modified ng-touched"
							placeholder="Address Line 2" ng-model="item.addr2">
					</div>


					<div class="col-sm-3">
						<!-- <label class="control-label">Address Line 3</label> -->
						<input type="text"
							class="form-control search-criteria ng-pristine ng-valid ng-not-modified ng-touched"
							placeholder="Address Line 3" ng-model="item.addr3">
					</div>

					<div class="col-sm-3">
						<!-- <label class="control-label">City</label> -->
						<input type="text"
							class="form-control search-criteria ng-pristine ng-valid ng-not-modified ng-touched"
							placeholder="City" ng-model="item.city" required>
					</div>

					<div class="col-sm-3">
						<!-- <label class="control-label">County/Province/Region/State</label> -->
								<select class="form-control" placeholder="State" ng-model="item.state" required>
										<option value="">Select State</option>
										<option ng-repeat="rep in state">{{rep.stateDesc}}</option>
								</select>
					</div>

					<div class="col-sm-3">
						<!-- <label class="control-label">Zip/Postal Code</label> -->
						<input type="text"
							class="form-control search-criteria ng-pristine ng-valid ng-not-modified ng-touched"
							placeholder="Territory" ng-model="item.region" required>
					</div>

					<div class="col-sm-3">
						<!-- <label class="control-label">Zip/Postal Code</label> -->
						<input type="text"
							class="form-control search-criteria ng-pristine ng-valid ng-not-modified ng-touched"
							placeholder="Zip/Postal Code" ng-model="item.poCode" required>
					</div>

				</div>

				<hr>

				<div class="row">
					<div class="col-sm-3">
						<label class="control-label">Market Specific Fields</label>
					</div>
				</div>

				<div class="column" data-ng-repeat="pro in customDetails">
					<div class="col-sm-3" ng-hide="pro.partyType=='PERSON'">
						<label class="control-label">{{pro.fieldName}}</label>
						<div ng-if="pro.fieldValue!=null">
						<input type="text" class="form-control search-criteria ng-pristine ng-valid ng-not-modified ng-touched"
						placeholder="{{pro.fieldValue}}" readonly>
						</div>
						
						<div ng-if="pro.fieldValue==null">
						<input type="text" class="form-control search-criteria ng-pristine ng-valid ng-not-modified ng-touched"
						placeholder="{{pro.fieldName}}" ng-model="item.data">
						</div>
						<!-- <input type="text" class="form-control search-criteria ng-pristine ng-valid ng-not-modified ng-touched" placeholder="BENEF_QUALITE"> -->
					</div>
					<div class="col-sm-3" ng-hide="pro.partyType=='ORGANIZATION'">
						<label class="control-label">{{pro.fieldName}}</label>
						<div ng-if="pro.fieldValue!=null">
						<input type="text" class="form-control search-criteria ng-pristine ng-valid ng-not-modified ng-touched"
						placeholder="{{pro.fieldValue}}" readonly>
						</div>
						
						<div ng-if="pro.fieldValue==null">
						<input type="text" class="form-control search-criteria ng-pristine ng-valid ng-not-modified ng-touched"
						placeholder="{{pro.fieldName}}" ng-model="item.data">
						</div>
						<!-- <input type="text" class="form-control search-criteria ng-pristine ng-valid ng-not-modified ng-touched" placeholder="BENEF_QUALITE"> -->
					</div>
				</div>
				<br>
				
				<span style="float: right;margin-top: 18px;margin-right: 14px;">
					<button type="submit" class="btn btn-primary" ng-click="submit(item)" ng-disabled="requestProfileReviewForm.$invalid">Submit</button>
					<button type="reset" class="btn btn-warning" ng-click="cancel()" ng-disabled="requestProfileReviewForm.$invalid">Clear</button>				
				</span>
			  </form>
			</div>
	</div>

</div>