<div class=".container-search-panel" style="width: 100%;">
	<div class="panel panel-primary">
		<div class="panel-heading ">Profile Details</div>
			<div class="panel-body">			
				<div class="row">
					<div class="col-sm-4"></div>
					<div class="col-sm-4">
						<label> Party Type
							&nbsp; &nbsp;<input type="radio" id="PERSON" name="PERSON" value="PERSON" ng-model="profile_val.item" ng-change="getCred()"/> Individual 
							&nbsp; &nbsp;<input type="radio" id="ORGANIZATION" name="ORGANIZATION" value="ORGANIZATION" ng-model="profile_val.item" ng-change="getCred()"/> Organization
						</label>
					</div>
				</div>

				<hr>
				
			<form name="requestProfileReviewForm" novalidate>

				<div ng-hide="profile_val.item=='PERSON'" class="row">
					<div class="col-sm-3">
						<label class="control-label">Organization </label>
					</div>
				</div>

				<div ng-hide="profile_val.item=='PERSON'" class="row">
					<div class="col-sm-3">
						<!-- <label class="control-label">Name</label> -->
						<input type="text" ng-maxlength="100" class="form-control" id="organizationName" placeholder="Name" ng-model="item.organizationName" ng-required="profile_val.item == 'ORGANIZATION'">
					</div>

					<div class="col-sm-3">
						<!-- <label class="control-label">Name</label> -->
						<!-- ng-options="item.id as item.name for item in items | unique:'name'" -->
						<input type="search" autocomplete="none" class="form-control" ng-model="item.orgDetails" list="orgData" placeholder="Select Organization Type" ng-change="compareSubType(item)" onfocus="this.value=''" onchange="this.blur();">
	 			                         <datalist style="opacity:0" id="orgData" name="orgData">
				                           <option value="">Select Organization Type</option>
				                           <option ng-repeat="rep in orgType | filter:search" value="{{rep.subDesc}}@{{rep.subCode}}"></option>
                          
				                         </datalist>
					</div>

				</div>


				<div ng-hide="profile_val.item=='ORGANIZATION'" class="row">
					<div class="col-sm-3">
						<label class="control-label">Person </label>
					</div>
				</div>

				<div ng-hide="profile_val.item=='ORGANIZATION'" class="row">
					<div class="col-sm-3">
						<!-- <label class="control-label">First Name</label> -->
						<input type="text" ng-maxlength="100" class="form-control" placeholder="First Name" ng-model="item.firstName" ng-required="profile_val.item == 'PERSON'">

					</div>

					<div class="col-sm-3">
						<!-- <label class="control-label">Middle Name</label> -->
						<input type="text" ng-maxlength="100" class="form-control" placeholder="Middle Name" ng-model="item.middleName">
					</div>


					<div class="col-sm-3">
						<!-- <label class="control-label">Last Name</label> -->
						<input type="text" ng-maxlength="100" class="form-control" placeholder="Last Name" ng-model="item.lastName" ng-required="profile_val.item == 'PERSON'">
					</div>

					<div class="col-sm-3">
						<!-- <label class="control-label">Suffix</label> -->
						<input type="text"
							class="form-control search-criteria ng-pristine ng-valid ng-not-modified ng-touched"
							placeholder="Suffix" ng-model="item.suffix">
					</div>

				</div>

				<div class="row">
					<div class="col-sm-3" ng-hide="profile_val.item=='ORGANIZATION'" >
						<!-- <label class="control-label">Title</label> -->
						<input type="text"
							class="form-control search-criteria ng-pristine ng-valid ng-not-modified ng-touched"
							placeholder="Title" ng-model="item.title">
					</div>

					<!-- <div class="col-sm-3" ng-hide="profile_val.item=='PERSON'" >
						<label class="control-label">Credential</label>
						<select class="form-control" ng-model="item.credential">
							ng-options="item.id as item.name for item in items | unique:'name'"
							<option value ng-show="true" class="ng-binding">Select
								Credential</option>
							<option ng-repeat="rep in credential">{{rep.credentialDesc}}</option>
						</select>
					</div> -->


					<div class="col-sm-3" ng-hide="profile_val.item=='ORGANIZATION' || currentProfile.countryId=='2108'">
						<!-- <label class="control-label">Specialty</label> -->						
						<input type="search" autocomplete="none" class="form-control search-criteria" ng-model="item.specialityDetail" ng-change="compare(item)" list="specData" placeholder="Select Specialty"  onfocus="this.value=''" onchange="this.blur();" ng-required="profile_val.item == 'PERSON' && currentProfile.countryId !='2108'">
		                                      <datalist style="opacity:0" id="specData" name="specData">
		                                        <option value="">Select Specialty</option>
				                        <option ng-repeat="rep in specialty | filter:search" value="{{rep.spclDesc}}@{{rep.spclCode}}"></option>
                                       
   		                                     </datalist>
					</div>
					
					<div ng-show="currentProfile.countryId=='2071'">
					<div class="col-sm-3" ng-hide="profile_val.item=='ORGANIZATION'">
						<select class="form-control" ng-model="item.gender" ng-required="profile_val.item == 'PERSON' && currentProfile.countryId=='2071'">
							<option value ng-show="true" class="ng-binding">Select Gender</option>
							<option value="M">Male</option>
							<option value="F">Female</option>
						</select>
					</div>
					</div>

				</div>

				<hr>

				<div class="row">
					<div class="col-sm-3">
						<label class="control-label">Location </label>
					</div>
				</div>

				<!-- style="font-weight:700;font-size:15px;!importent;margin-top:5px;font-family:"sans-serif" -->

				<div class="row">
					<div class="col-sm-3">
						<!-- <label class="control-label">Address Line 1</label> -->
						<input type="text"
							class="form-control search-criteria ng-pristine ng-valid ng-not-modified ng-touched"
							placeholder="Address Line 1" ng-model="item.addr1" required>
					</div>

					<div class="col-sm-3">
						<!-- <label class="control-label">Address Line 2</label> -->
						<input type="text"
							class="form-control search-criteria ng-pristine ng-valid ng-not-modified ng-touched"
							placeholder="Address Line 2" ng-model="item.addr2">
					</div>


					<div class="col-sm-3">
						<!-- <label class="control-label">Address Line 3</label> -->
						<input type="text"
							class="form-control search-criteria ng-pristine ng-valid ng-not-modified ng-touched"
							placeholder="Address Line 3" ng-model="item.addr3">
					</div>

					<div class="col-sm-3">
						<!-- <label class="control-label">City</label> -->
						<input type="text"
							class="form-control search-criteria ng-pristine ng-valid ng-not-modified ng-touched"
							placeholder="City" ng-model="item.city" required>
					</div>

					<div class="col-sm-3">
						<!-- <label class="control-label">County/Province/Region/State</label> -->
						<input type="search" autocomplete="none" class="form-control search-criteria" ng-model="item.state" list="stateData" placeholder="Select State" onfocus="this.value=''" onchange="this.blur();">
		                                      <datalist style="opacity:0" id="stateData" name="stateData">
		                                        <option value="">Select State</option>
		                                        <option ng-repeat="rep in state | filter:search" value={{rep.stateDesc}}></option>
                                       
			                              </datalist>
					</div>

					<div class="col-sm-3" ng-show="currentProfile.countryId=='2071'">										
									<select class="form-control input-sm td-search-panel-text"
										ng-model="item.region" >
										<option value="">Select Territory</option>
									
										<option ng-selected={{rep.territoryCode==currentProfile.countryISOCode}} ng-repeat="rep in territory | filter :{countryId:currentProfile.countryId}" value="{{rep.territoryCode}}">{{rep.territoryName}}</option>
									</select>
					</div>

					<div class="col-sm-3">
						<!-- <label class="control-label">Zip/Postal Code</label> -->
						<input type="text"
							class="form-control search-criteria ng-pristine ng-valid ng-not-modified ng-touched"
							placeholder="Zip/Postal Code" ng-model="item.poCode" required>
					</div>

				</div>

				<hr>

				<div class="row" ng-show="currentProfile.countryId=='2071'">
					<div class="col-sm-3">
						<label class="control-label">Market Specific Fields</label>
					</div>
				</div>

				<div class="column" ng-show="currentProfile.countryId=='2071'" data-ng-repeat="pro in customDetails">
					<div class="col-sm-3" ng-hide="pro.partyType=='ORGANIZATION'">
						<label class="control-label">{{pro.fieldName}}</label>
						<div ng-if="pro.textEnabled=='Y'">
						<input type="text" class="form-control search-criteria ng-pristine ng-valid ng-not-modified ng-touched"
						placeholder="{{pro.fieldValue}}" readonly>
						</div>
						
						<div ng-if="pro.textEnabled=='N'">
						<input type="text" class="form-control search-criteria ng-pristine ng-valid ng-not-modified ng-touched"
						placeholder="{{pro.fieldName}}" ng-model="pro.fieldValue">
						</div>
						<!-- <input type="text" class="form-control search-criteria ng-pristine ng-valid ng-not-modified ng-touched" placeholder="BENEF_QUALITE"> -->
					</div>
					<div ng-hide="pro.partyType=='PERSON'">
						<div class="col-sm-3" ng-if="pro.fieldName!='BENEF_OBJECTSOCIAL'">
							<label class="control-label">{{pro.fieldName}}</label>
								<div ng-if="pro.textEnabled=='Y'">
								<input type="text" class="form-control search-criteria ng-pristine ng-valid ng-not-modified ng-touched"
								placeholder="{{pro.fieldValue}}" readonly>
								</div>								
						</div>
						
						<!-- <br><br><br><br> -->
						<div class="col-sm-11" ng-if="pro.fieldName=='BENEF_OBJECTSOCIAL'">
							<label class="control-label">{{pro.fieldName}}</label>
								<div ng-if="pro.textEnabled=='N'">
								<input type="text" class="form-control search-criteria ng-pristine ng-valid ng-not-modified ng-touched"
								placeholder="{{pro.fieldName}}" ng-model="pro.fieldValue">
								</div>
						</div>
						<!-- <input type="text" class="form-control search-criteria ng-pristine ng-valid ng-not-modified ng-touched" placeholder="BENEF_QUALITE"> -->
				  </div>
				</div>
				<br>
				
				<span style="float: right;margin-top: 18px;margin-right: 14px;">
					<button type="submit" class="btn btn-primary" ng-click="submit(item)" ng-disabled="requestProfileReviewForm.$invalid">Submit</button>
					<button type="reset" class="btn btn-warning" ng-click="cancel()">Clear</button>				
				</span>
			  </form>
			</div>
	</div>

</div>