<!-- Home page -->
<div class=".container-search-panel" style="width: 100%;">
	<div class="panel panel-primary">
		<div class="panel-heading td-search-panel-text">Search Criteria</div>
		<div class="panel-body">
			<div class="row">
					<div class="col-sm-4"></div>
					<div class="col-sm-4">
						<label class="control-label"> Search For
							&nbsp; &nbsp;<input type="radio" id="PERSON" name="PERSON" value="PERSON" ng-model="profile_val.item" ng-change="getCred()"/> Individual
							&nbsp; &nbsp;<input type="radio" id="ORGANIZATION" name="ORGANIZATION" value="ORGANIZATION" ng-model="profile_val.item" ng-change="getCred()"/> Organization
						</label>
					</div>
					<div class="col-sm-2"></div>
			</div>
			<br>
			<form name="itemSearchForm" novalidate>
				<div class="row">
					<div class="col-lg-1"></div>
					<div class="col-lg-11">
						<div class="col-lg-3">
							<div ng-hide="profile_val.item=='ORGANIZATION' " class="form-group row">
								<label class="control-label">Person Name</label>
								<div class="input-group">
									<!-- <span >First</span> -->
									<input type="text" class="form-control"
										placeholder="First Name" ng-model="itemDetails.firstName">
								</div>
								<div class="input-group">
									<!-- <span class="input-group-addon">Middle</span> -->
									<input type="text" class="form-control"
										placeholder="Middle Name" ng-model="itemDetails.middleName">
								</div>
								<div class="input-group">
									<!-- <span class="input-group-addon">Last</span> -->
									<input type="text" class="form-control" placeholder="Last Name" ng-model="itemDetails.lastName">
								</div>
							</div>

							<div ng-hide="profile_val.item=='PERSON'" class="form-group row">
								<label class="control-label">Organization</label>
								<div class="input-group">
									<input type="text" class="form-control"
										placeholder="Organization Name" ng-model="itemDetails.organizationName">
								</div>

								<div class="input-group">
									<select class="form-control input-sm td-search-panel-text"
										ng-model="itemDetails.organizationType">
										<option value="">Select Organization Type</option>
										<option ng-repeat="rep in orgType" value="{{rep.subCode}}">{{rep.subDesc}} - {{rep.subCode}}</option>
									</select>
								</div>

							</div>

							<div ng-hide="profile_val.item=='ORGANIZATION'" class="form-group row">
								<label class="control-label">Specialty</label>
								<div class="input-group">
									<select class="form-control input-sm td-search-panel-text" ng-model="itemDetails.speciality">
										<option value="">Select Specialty</option>
										<option ng-repeat="rep in specialty" value="{{rep.spclCode}}">{{rep.spclDesc}} - {{rep.spclCode}}</option>
									</select>
								</div>
								<!-- <div class="input-group">
									<select class="form-control input-sm td-search-panel-text" ng-model="itemDetails.credential">
										<option value="">Select Credential</option>
										<option ng-repeat="rep in credential" value="{{rep.credentialCode}}">{{rep.credentialDesc}}</option>
									</select>
								</div> -->
							</div>

						</div>

						<div class="col-lg-1"></div>

						<div class="col-lg-3">
							<div class="form-group row">
								<label class="control-label">Location</label>
								<div class="input-group">
									<input type="text" class="form-control search-criteria"
										placeholder="City" ng-model="itemDetails.city">
								</div>
								<div class="input-group">
									<select class="form-control input-sm td-search-panel-text" placeholder="State" ng-model="itemDetails.state">
										<option value="">Select State</option>
										<option ng-repeat="rep in state" value="{{rep.stateDesc}}">{{rep.stateDesc}}</option>
									</select>
								</div>
								<!-- <div class="input-group">
									<input type="text" class="form-control search-criteria"
										placeholder="Province/Region">
								</div> -->
								<div class="input-group">
									<input type="text" class="form-control search-criteria"
										placeholder="Postal Code" ng-model="itemDetails.poCode">
								</div>
								<div class="input-group">										
									<select class="form-control input-sm td-search-panel-text"
										ng-model="itemDetails.territory">
										<option value="">Select Territory</option>
										<option value="FR">France</option>
										<option ng-repeat="rep in territory" value="{{rep.territoryCode}}">{{rep.territoryName}}</option>
									</select>
								</div>
							</div>
						</div>

						<div class="col-lg-1"></div>

						<div class="col-lg-3">
							<div class="form-group row">
								<label class="control-label">Unique ID</label>
								
								<div class="input-group" ng-hide="profile_val.item=='ORGANIZATION' ">
									<select class="form-control input-sm td-search-panel-text"
										ng-model="itemDetails.uniqueType">
										<option value="">Select Unique ID Type</option>
										<option ng-repeat="rep in uniqueProfile" value="{{rep.value}}">{{rep.name}}</option>
									</select>									
								</div>
								
								<div class="input-group" ng-hide="profile_val.item=='PERSON' ">
									<select class="form-control input-sm td-search-panel-text"
										ng-model="itemDetails.uniqueType">
										<option value="">Select Unique ID Type</option>
										<option ng-repeat="rep in uniqueOrg" value="{{rep.value}}">{{rep.name}}</option>
									</select>									
								</div>
								<div class="input-group">
									<input type="text" class="form-control search-criteria"
										placeholder="Identifier" ng-model="itemDetails.identificationNumber">
								</div>
							</div>
						</div>

					</div>
					<!-- END col-lg 11 -->
				</div>
				<!-- END Row -->

				<span style="float: right;margin-top: 18px;margin-right: 14px;">
						<button type="submit" class="btn btn-lg btn-default" style="color:#333" ng-click="submit(itemDetails)" ng-disabled="itemSearchForm.$invalid"> Search <i class="fa fa-search fa-1x"></i></button>
						<button type="reset" class="btn btn-lg btn-default" ng-click="cancel()" style="color:#333" ng-disabled="itemSearchForm.$invalid"> Clear <i class="fa fa-times-circle fa-1x"></i></button>
				</span>
			</form>
		</div>
	</div>
	<div class="panel panel-primary">
		<div class="table-responsive">
			<table st-table="profileSearchCopy" st-safe-src="profileSearch"
				st-reset="isReset"
				st-set-filter="SearchFilter"				
				class="table table-bordered table-striped table-highlight">
				<thead>
					<tr style="color: white; background-color: #337ab7;">
						<th 
							ng-hide = "true"
							ng-click="orderByField='profileType'; reverseSort = !reverseSort"
							style="font-size: 13px; width: 86px;"
							st-sort="profileType"class="td-search-panel-text">Party Type</th>
						<th 
							ng-hide="profile_val.item=='ORGANIZATION'"
							ng-click="orderByField='lastName'; reverseSort = !reverseSort"
							st-sort="lastName"
							class="td-search-panel-text"
							>Last Name</th>
						<th
							ng-hide = "profile_val.item=='ORGANIZATION'"
							ng-click="orderByField='firstName'; reverseSort = !reverseSort"
							st-sort="firstName"
							class="td-search-panel-text"
							>First Name</th>
						<th
							ng-hide="profile_val.item=='PERSON'"
							ng-click="orderByField='organisationName'; reverseSort = !reverseSort"
							st-sort="organisationName"
							class="td-search-panel-text"
							>Organization Name</th>
							
						<th
							ng-hide="profile_val.item=='PERSON'"
							ng-click="orderByField='organisationType'; reverseSort = !reverseSort"
							st-sort="organisationType"
							class="td-search-panel-text"
							>Organization Type</th>
							
						<th ng-click="orderByField='Address'; reverseSort = !reverseSort"
							st-sort="Address"
							class="td-search-panel-text"
							>Address</th>
							
						<th ng-click="orderByField='city'; reverseSort = !reverseSort"
							st-sort="city"
							class="td-search-panel-text"
							>City Name</th>
							
						<th ng-click="orderByField='Zip'; reverseSort = !reverseSort"
							st-sort="poCode"
							class="td-search-panel-text"
							>Zip Code</th>
							
						<th ng-click="orderByField='identifier'; reverseSort = !reverseSort"
							st-sort="identifier"
							class="td-search-panel-text"
							>Identifier</th>
						<th
							ng-hide="profile_val.item=='ORGANIZATION'"
							ng-click="orderByField='speciality'; reverseSort = !reverseSort"
							st-sort="speciality"
							class="td-search-panel-text"
							>Specialty</th>

					</tr>
					<tr>
						<th ng-hide = "true"><input ng-model="search.profileType"
							st-search="profileType" placeholder=" " class="form-control td-search-panel-text"
							type="search" /></th>
						<th ng-hide="profile_val.item=='ORGANIZATION'"><input ng-model="search.lastName" st-search="lastName"
							placeholder=" " class="form-control td-search-panel-text" type="search" /></th>
						<th ng-hide = "profile_val.item=='ORGANIZATION'"><input ng-model="search.firstName" st-search="firstName"
							placeholder=" " class="form-control td-search-panel-text" type="search" /></th>
						<th ng-hide = "profile_val.item=='PERSON'"><input ng-model="search.organisationName"
							st-search="organisationName" placeholder=" " class="form-control td-search-panel-text"
							type="search" /></th>
						<th ng-hide = "profile_val.item=='PERSON'"><input ng-model="search.organisationType"
							st-search="organisationType" placeholder=" " class="form-control td-search-panel-text"
							type="search" disabled="disabled"/></th>
						<th><input ng-model="search.address" st-search="address"
							placeholder=" " class="form-control td-search-panel-text" type="search" /></th>							
						<th><input ng-model="search.city" st-search="city"
							placeholder=" " class="form-control td-search-panel-text" type="search" /></th>	
						<th><input ng-model="search.zip" st-search="poCode"
							placeholder=" " class="form-control td-search-panel-text" type="search" /></th>
						<th><input ng-model="search.identifier" st-search="identifier"
							placeholder=" " class="form-control td-search-panel-text" type="search" /></th>						
						<th ng-hide = "profile_val.item=='ORGANIZATION'"><input ng-model="search.speciality" st-search="speciality"
							placeholder=" " class="form-control td-search-panel-text" type="search" /></th>
					</tr>
				</thead>
				<tbody>
					<tr
						data-ng-repeat="pro in profileSearchCopy track by $index | orderBy:orderByField:reverseSort">
						<!-- <td class="td-search-panel-text">{{pro.id}}</td> -->
						<td ng-hide = "true" class="td-search-panel-text">{{pro.profileType}}</td>
						<td class="tasktd td-search-panel-text" title="{{pro.lastName}}" ng-hide = "profile_val.item=='ORGANIZATION'">{{pro.attributes.LastName[0].value}}</td>
						<td class="tasktd td-search-panel-text" title="{{pro.firstName}}" ng-hide = "profile_val.item=='ORGANIZATION'">{{pro.attributes.FirstName[0].value}}</td>
						<td class="tasktd td-search-panel-text" title="{{pro.organisationName}}" ng-hide = "profile_val.item=='PERSON'">{{pro.attributes.Name[0].value}}</td>
						<td class="tasktd td-search-panel-text" title="{{pro.organisationType}}" ng-hide = "profile_val.item=='PERSON'">{{pro.attributes.ClassofTradeN[0].value.FacilityType[0].value}}</td>
						
						<td class="tasktd td-search-panel-text" title="{{pro.address}}">{{pro.attributes.Address[0].value.AddressLine1[0].value}}</td>
						<td class="tasktd td-search-panel-text" title="{{pro.city}}">{{pro.attributes.Address[0].value.City[0].value}}</td>
						<td class="tasktd td-search-panel-text" title="{{pro.poCode}}">{{pro.attributes.Address[0].value.Zip[0].value.Zip5[0].value}}</td>
						<td class="tasktd td-search-panel-text" title="{{pro.identifier}}">{{pro.uri}}</td>
						<td ng-hide = "profile_val.item=='ORGANIZATION'" class="tasktd td-search-panel-text" title="{{pro.speciality}}">{{pro.attributes.Specialities[0].value.Specialty[0].value}}</td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<div style="margin: 10px;">
			<div class="text-center">
				<div>{{responseOnSearch}}</div>
				<button type="submit" class="btn btn-lg btn-default" style="color:#333" ng-click="setPreviousPage(itemDetails)" ng-disabled="buttondisable == 'true'"> <i class="fa fa-angle-left fa-1x"></i> Prev </button>
			
					<select class="btn btn-lg btn-default"
						ng-model="max" ng-click="setPagination(itemDetails)">
							<option value=10>10</option>
							<option value=20>20</option>
							<option value=30>30</option>
							<option value=40>40</option>
							<option value=50>50</option>
							<option value=60>60</option>
							<option value=70>70</option>
							<option value=80>80</option>
							<option value=90>90</option>
							<option value=100>100</option>
					</select>
				
				<button type="submit" class="btn btn-lg btn-default" style="color:#333" ng-click="setNextPage(itemDetails)" ng-disabled="buttondisableNext == 'true'"> Next <i class="fa fa-angle-right fa-1x"></i></button>
			</div>
		</div>
</div>
	<br /> <br />
	
	
</div>