<div class="panel panel-primary table-responsive">
	<div class="panel-heading">Profile Submission Report</div>

	<div class="panel-body">
		<table st-table="displayedCollection" st-safe-src="ReviewAttributes"
			class="table table-bordered table-hover table-condensed">
			<thead style="background-color: #337ab7; color: white">
				<tr style="height:6%;">
					
					<th style="width:7%;" st-sort="partyType">Party Type</th>
					<th style="width: 8%;" st-sort="identifier" >Identifier</th>
					<th style="width: 10%;" st-sort="organization">Organization</th>
					<th style="width: 15%;" st-sort="firstName" >First Name</th>
					<th style="width: 15%;" st-sort="lastName">Last Name</th>
					<th style="width: 10%;" st-sort="city" >City</th>
					<th style="width: 10%;" st-sort="specialty" >Specialty</th>
					<th style="width: 10%;" st-sort="submittedBy" >Submitted By</th>
					<th style="width: 10%;" st-sort="submittedOn" >Submitted On</th>
					<th style="width: 15%;" st-sort="status" >Status</th>
				</tr>
			</thead>
			<tbody>
			 <tr>
				<!-- <td> </td> -->
				<td><input st-search="partyType" placeholder=" " class="form-control" type="search" /></td>
				<td><input st-search="identifier" placeholder=" " class="form-control" type="search" /></td>
				<td><input st-search="organization" placeholder=" " class="form-control" type="search" /></td>
				<td><input st-search="firstName" placeholder=" " class="form-control" type="search" /></td>
				<td><input st-search="lastName" placeholder=" " class="form-control" type="search" /></td>
				<td><input st-search="city" placeholder=" " class="form-control" type="search" /></td>
				<td><input st-search="specialty" placeholder=" " class="form-control" type="search" /></td>
				<td><input st-search="submittedBy" placeholder=" " class="form-control" type="search" /></td>
				<td><input st-search="submittedOn" placeholder=" " class="form-control" type="search" /></td>
				<td><input st-search="status" placeholder=" " class="form-control" type="search" /></td>
				</tr>   <!-- | filter:ReviewerFilter -->
				
				<tr>
				<td>ORGANIZATION</td>
				<td>900135396532</td>
				<td>Paris Cancer Society</td>
				<td></td>
				<td></td>
				<td>Paris</td>
				<td></td>
				<td>Archana Phadtare</td>
				<td>04/12/2020</td>
				<td><a ng-disabled='true'>Successful</a></td>
				</tr>
				
				<tr>
				<td>PERSON</td>
				<td>900135396543</td>
				<td></td>
				<td>Austin
				</td>
				<td>John
				</td>
				<td>Paris</td>
				<td>Endocrinologie et métabolisme</td>
				<td>Archana Phadtare</td>
				<td>04/12/2020</td>
				<td><a>Failed</a></td>
				</tr>
				
				<tr>
				<td>PERSON</td>
				<td></td>
				<td></td>
				<td>Issac</td>
				<td>Scott</td>
				<td>Guadeloupe</td>
				<td>Gastro-entérologie et hépatologie</td>
				<td>Archana Phadtare</td>
				<td>04/12/2020</td>
				<td><a>Open</a></td>
				</tr>


							</tbody>
						</table>
					</td>
			</tr>
			<br>
						<div class="row pull-right">
			<!-- <button type="submit" class="btn btn-sm td-search-panel-text" ng-click="submit(request)" ng-disabled="requestSearchForm.$invalid">Clear</button> -->
			<button type="submit" class="btn btn-primary btn-sm td-search-panel-text" ng-click="submit(request)" ng-disabled="requestSearchForm.$invalid">Download</button>
			&nbsp;
			</div>
			
			</tbody>

		</table>


	</div>
</div>
	


