<div class="panel panel-primary table-responsive">
	<div class="panel-heading">Profile Submission Report</div>
	<div ng-controller="identityCtrl">
	<div class="panel-body">
	<table class="table table-hover ">
	<div class="table-responsive">
		<table st-table="displayedCollection" st-safe-src="identityRequestView"
			class="table table-bordered table-hover table-condensed">
			<thead>
				<tr style="color: white; background-color: #337ab7;">
					<th class="pro-rev"> </th>					
					<th class="pro-rev" style="width:3%;" st-sort="profileTypeId">Party Type</th>
					<th class="pro-rev" style="width: 3%;" st-sort="uniqueIdentifier" >Identifier</th>
					<th class="pro-rev" style="width: 2%;" st-sort="reltioId" >Reltio Id</th>
					<th class="pro-rev" style="width: 7%;" st-sort="organizationName">Organization</th>
					<th class="pro-rev" style="width: 4%;" st-sort="firstName" >First Name</th>
					<th class="pro-rev" style="width: 4%;" st-sort="lastName">Last Name</th>
					<th class="pro-rev" style="width: 2%;" st-sort="city" >City</th>
					<th class="pro-rev" style="width: 2%;" st-sort="speciality" >Specialty</th>
					<th class="pro-rev" style="width: 4%;" st-sort="createdBy" >Submitted By</th>
					<th class="pro-rev" style="width: 3%;" st-sort="createdDate" >Submitted On</th>
					<th class="pro-rev" style="width: 1%;" st-sort="reltioMsg" >Status</th>
				</tr>
			 	<tr>
				<!-- <td> </td> -->
				<th style="width: 4%;"></th>
				<th><input st-search="profileTypeId" placeholder=" " class="form-control" type="search" /></th>
				<th><input st-search="uniqueIdentifier" placeholder=" " class="form-control" type="search" /></th>
				<th><input st-search="reltioId" placeholder=" " class="form-control" type="search" /></th>
				<th><input st-search="organizationName" placeholder=" " class="form-control" type="search" /></th>
				<th><input st-search="firstName" placeholder=" " class="form-control" type="search" /></th>
				<th><input st-search="lastName" placeholder=" " class="form-control" type="search" /></th>
				<th><input st-search="city" placeholder=" " class="form-control" type="search" /></th>
				<th><input st-search="speciality" placeholder=" " class="form-control" type="search" /></th>
				<th><input st-search="createdBy" placeholder=" " class="form-control" type="search" /></th>
				<th><input st-search="createdDate" placeholder=" " class="form-control" type="search" /></th>				
				<!-- <th><input st-search="status" placeholder=" " class="form-control" type="search" /></th>	 -->
				 <th><select st-input-event="change keydown" st-search="reltioMsg"  ng-model="request.downchk" ng-change="onCategoryChange(request)" type="search">
						            <option value="Successful">Successful</option>
									 <option value="Failed">Failed</option> 
					</select></th>			
				</tr>
			</thead>
			<tbody>
					<tr ng-repeat="identity in displayedCollection">
						<td><gcms-modal template="identity.view.html"
										controller="ModalDefaultCtrl" content="identity" ok="update"
										alt="Edit Task {{identity.id}}"> <span
										style="color: #337ab7;margin-left: 3px;" title="Identity View"> View</span> </gcms-modal></td>
						<td class="tasktd" >{{ identity.profileTypeId }}</td>
						<td class="tasktd" >{{ identity.uniqueIdentifier}}</td>
						<td class="tasktd" >{{ identity.reltioId}}</td>
						<td  class="tasktd">{{ identity.organizationName}}</td>
						<td class="tasktd" >{{ identity.firstName }}</td>
						<td class="tasktd" >{{ identity.lastName }}</td> 
						<td class="tasktd">{{ identity.city}}</td>
						<td class="tasktd">{{ identity.speciality}}</td>
						<td class="tasktd">{{ identity.createdBy }}</td>
						<td class="tasktd">{{ identity.createdDate }}</td>
						<td class="tasktd">{{ identity.reltioMsg }}</td>
					</tr>
			</tbody>			
			<tfoot>
					<tr>
						<td colspan="30" class="text-right">
							<div>
								<button type="submit" class="btn btn-primary btn-sm td-search-panel-text" ng-click="loadDataDLUAll()">Download</button>
							</div>
							
						</td>
					</tr>					
					<tr>

						<td colspan="30" class="text-center" ng-hide="recordlength <'10' " >
							<div  st-items-by-page="10" st-pagination=""
								st-template="app/profile/list/pagination.custom.html"></div>
							
						</td>
						<td  colspan="30" class="text-center" ng-show="recordlength =='0'">
						<div>{{records}}</div>
						</td>
					</tr>
				</tfoot>
		</table>		
		</div>
		</table>
		</div>
	</div>
</div>
	


